@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


 body {
  background: linear-gradient(135deg, #b3eeee, #3B82F6);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
}
.header h1{
  color: #22C55E;
}

.list {
  margin: 0;
}

.list ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0;
  margin: 0;
  list-style: none;
}
.list ul li{
  color:#3B82F6;
  border-right: 2px solid #1E293B;
 border-bottom: 2px solid #1E293B;
 border-bottom-right-radius:10px;
 box-shadow: 3px 3px 3px 3px rgb(97, 136, 214);


}

.hero {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.hero img {
  margin:auto;
  width:250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 10px 10px 10px 10px  rgb(18, 201, 88);
  border: 1px solid gold;
}
.hero p{
  width: 30rem;
}
/* .hero-project{
  padding: 2rem;
  gap:2rem;
  color: #22C55E;
  width: 10rem; */
  

.hero-project h2{
border-right:3px solid  #b3102b;
border-bottom: 3px solid #b3102b;
border-bottom-right-radius: 15px;

}
/* .hero-project {
  padding: 2rem;
} */
.hero-project {
  padding: 2rem;
  background: black;
  color: white;
}
.carousel {
  position: relative;
}

.carousel-track {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem 0;
}

.project-poster {
  position: relative;
  min-width: 220px;
  height: 320px;
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0;
  transition: transform 0.3s;
}

.project-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-poster:hover {
  transform: scale(1.08);
  z-index: 2;
}

/* Overlay */
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
}

.overlay h3 {
  font-size: 1rem;
}

.rank {
  position: absolute;
  left: -10px;
  bottom: 10px;
  font-size: 5rem;
  font-weight: bold;
  color: rgba(255,255,255,0.3);
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.7);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 5;
}

.arrow.left { left: 0; }
.arrow.right { right: 0; }



.project-email {
  opacity: 0;
  transition: opacity 0.3s;
}

.project-poster:hover .project-email {
  opacity: 1;
}
